<div class="card-container">
  <div *ngFor="let product of products" class="card">
    <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image">
    
    <h3>{{ product.name }}</h3>

    <p>{{ product.description }}</p>

    <p class="price">Precio: {{ product.price | currency }}</p>

    <!-- Campo para seleccionar la cantidad -->
    <input type="number" [(ngModel)]="product.quantity" min="1" [max]="product.stock" [value]="1" class="quantity-input">

    <button [disabled]="product.stock === 0" class="btn-buy" (click)="openPopup(product)">Comprar</button>
  </div>
</div>

<app-popup-prod 
  [product]="selectedProduct" 
  (closePopup)="closePopup()">
</app-popup-prod>
