.contenedor-aside{
    background-color:#1d1d1d;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-top: 2px solid #f0c040;
    border-bottom: 2px solid #f0c040;
}

a {
    padding: 8px 20px;
    background-color: #1d1d1d;
    color: #fff;
    /* border: 2px solid #f0c040; */
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    background-color: #f0c040;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    padding: 8px 20px;
    background-color: #1d1d1d;
    color: #fff;
    border: 2px solid #f0c040;
    border-radius: 20px;
    cursor: pointer;
}

.dropdown-btn:hover {
    background-color: #2d2d2d;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1d1d1d;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    padding: 12px 16px;
    border-radius: 10px;
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 8px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f0c040;
}

.dropdown:hover .dropdown-content {
    display: block;
}

button{
    background-color: transparent;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

button:hover{
    background-color: #f0c040;
}