<aside>
  <div class="contenedor-aside">
    <div class="container-buscar">
      <div class="dropdown">
        <button class="dropdown-btn">Categorías ▼</button>
        <div class="dropdown-content">
          <a >Zapatillas</a>
          <a >Alimentos</a>
          <a >Electrónica</a>
          <a >Perfumes</a>
          <a >Joyeria</a>
        </div>
        
      </div>
    </div>
    <button (click)="goToHome()" class="buttom-home">Home</button>

    <button (click)="navegar('allProducts')">Productos</button>
    <a href="#">Envios</a>
    <a href="/carrito">Carrito</a>
    <button (click)="rutaMapa()">Mapa</button>
  </div>
</aside>