<header>
  <div class="container-nav">
    <img src="../../../assets/mejor.png" alt="logoMejorPrecio" class="img-nav">

    <div class="container-buscar">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar productos" aria-label="Buscar">
      </form>
      <div class="dropdown">
        <button class="dropdown-btn">Comercios ▼</button>
        <div class="dropdown-content">
          <a href="#">Teniente Dan</a>
          <a href="#">Red Sport</a>
          <a href="#">APC</a>
        </div>
      </div>
      <button class="btn-buscar" type="submit">Buscar</button>
    </div>

    <div class="container-registro">
      <a href="#">Inicio Sesión  |</a>
      <a href="#">Regístrate</a>
    </div> 
  </div>
</header>
