<app-nab-var></app-nab-var>
<app-side-var></app-side-var>

<div class="cart-container">
  <h2>Carrito de Compras</h2>
  <div *ngFor="let item of cartItems" class="cart-item">
    <img [src]="item.imageUrl" alt="{{ item.name }}" class="cart-item-image">
    <div class="item-details">
      <h3>{{ item.name }}</h3>
      <p class="price">Precio: {{ item.price | currency }}</p>
      <div class="quantity">
        <button (click)="updateQuantity(item, item.quantity - 1)">-</button>
        <span>{{ item.quantity }}</span>
        <button (click)="updateQuantity(item, item.quantity + 1)">+</button>
      </div>
    </div>
    <button class="btn-remove" (click)="removeFromCart(item)">Eliminar</button>
  </div>
  <div class="cart-summary">
    <p>Total: {{ totalPrice() | currency }}</p>
    <button class="btn-checkout" (click)="checkout()">Proceder al Pago</button>
  </div>
</div>

<app-footer class="footer"></app-footer>
